@page
@model databaseOtters.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
    @using Microsoft.AspNetCore.Identity
}

<h1>Create</h1>

<h4>Otter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Otter.TattooID" class="control-label"></label>
                <input asp-for="Otter.TattooID" class="form-control" />
                <span asp-validation-for="Otter.TattooID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otter.Name" class="control-label"></label>
                <input asp-for="Otter.Name" class="form-control" />
                <span asp-validation-for="Otter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otter.Color" class="control-label"></label>
                <input asp-for="Otter.Color" class="form-control" />
                <span asp-validation-for="Otter.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otter.MotherId" class="control-label"></label>
                <select asp-for="Otter.MotherId" class="form-control" asp-items="ViewBag.MotherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Otter.PlaceName" class="control-label"></label>
                <select asp-for="Otter.PlaceName" class="form-control" asp-items="ViewBag.PlaceName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Otter.FounderId" class="control-label"></label>
                <input asp-for="Otter.FounderId" placeholder="xxx" class="form-control" readonly />
                <span asp-validation-for="Otter.FounderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
